.landing-page{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
    article{
        width: 60%;
        padding-right: 50px;
         @media #{$md} {
            padding-right: 0;
            width: 100%;
         }
    }
    aside{
        width: 40%;
          @media #{$md} {
            padding-right: 0;
            width: 100%;
         }
    }
}

#landing-form{
     background-color: #f3f3f3;
     padding: 50px 20px;
     border-radius: 20px;
     .go{
        width: 100%;
        .btn{
            width: 100%;
            display: block;
        }
     }
}